---
import EmailContact from "../EmailContact.astro";
import { FaCheckCircle } from "react-icons/fa";
---

<div class="flex items-center mt-16">
  <div class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl mx-auto px-4 py-16 space-y-8">
      <div class="text-sm font-medium text-gray-600 tracking-wide">
        55,000+ TRUSTED CLIENTS
      </div>

      <div class="space-y-4">
        <h1 class="text-4xl md:text-5xl font-medium leading-tight ">
          Fully Functional Blog For Your{"    "}
          <span class="text-blue-500">SaaS</span>
        </h1>
        <p class="text-lg text-gray-600">
          Get a complete, high-quality blog setup for only $40/month.
          <br />
          Professional design and seamless functionality, all in one package!
        </p>
      </div>

      <EmailContact />
      <div class="flex gap-6">

      <div class="flex flex-wrap gap-6">
        <div class="flex items-center gap-2">
          <FaCheckCircle />
          On Demand
          Support
        </div>
      </div>
      <div class="flex items-center gap-2">
        <FaCheckCircle />Seamless
        Cloud Technology
      </div>

        
      </div>
    </div>
  </div>

{/* Right Column - Design Image */}
<div class="hidden lg:block w-1/2">
  <img
    src="/Design.png"
    alt="Blog Interface Preview"
    class="shadow-[-60px_10px_65px_-29px_rgba(59,130,246,0.4)]
         ml-auto"
  />
</div>

</div>

