---
import Layout from "../../layouts/Layout.astro";
import ContactSaleButton from "../ContactSalesButton.astro";
---

<Layout>
  <div>
    <div class="flex justify-between p-8  px-20 items-center font-medium">
      <img src="/logo.png" alt="wapgee Logo" />

      <div class="hidden md:flex items-center space-x-10">
        <a href="#" class="text-gray-600 hover:text-gray-900">Home</a>
        <a href="#" class="text-gray-600 hover:text-gray-900">Features</a>
        <a href="#" class="text-gray-600 hover:text-gray-900">Blogs</a>
        <a href="#" class="text-gray-600 hover:text-gray-900">Integration</a>
      </div>
      <div class="flex items-center gap-8">
        <a href="#" class="text-gray-600 hover:text-gray-900"> Sign In </a>
        <a href="#">
          <ContactSaleButton />
        </a>
      </div>
    </div>
  </div>
</Layout>
