<section class=" mt-12">

  <div class="flex   justify-evenly py-32  ">
    <!-- <div class="space-y-2">
      <h2 class="text-3xl font-semibold mb-4">
        50+ Companies Uses  <br/>Waggee
      </h2>
      <p class="text-gray-600 text-xl">
        Companies use waggee to enhance <br/>
        them with top blog features
      </p>
    </div> -->

    <div>
      <div class="max-w-7xl mx-auto mb-12">
        <h2 class="text-3xl sm:text-4xl font-bold text-gray-900 mb-4">
          50+ Companies Uses <br/> Wapgee
        </h2>
        <p class="text-gray-600 text-xs">
          Companies use wapgee to enhance <br/> them with top blog features
        </p>
      </div>

    </div>



    <div class="flex flex-col">
      <dt class="text-4xl sm:text-5xl font-bold text-gray-900 mb-2">
        30K+
      </dt>
      <dd class="text-xs text-gray-600 font-medium uppercase tracking-wide">
        Articles Read Monthly
      </dd>
    </div>

   





    <div class="flex flex-col">
      <dt class="text-4xl sm:text-5xl font-bold text-gray-900 mb-2">
        98%
      </dt>
      <dd class="text-xs text-gray-600 font-medium uppercase tracking-wide">
        Subscriber Satisfaction
      </dd>
    </div>






    <div class="flex flex-col">
      <dt class="text-4xl sm:text-5xl font-bold text-gray-900 mb-2">
        40K
      </dt>
      <dd class="text-xs text-gray-600 font-medium uppercase tracking-wide">
        Hours of Insight Gained
      </dd>
    </div>





</div>
  <!-- <div class="grid grid-cols-1 mx-auto gap-20 md:grid-cols-4 ">
    {/* Companies Usage Stats */}
    <div class="space-y-2">
      <h2 class="text-3xl font-semibold mb-4">
        50+ Companies Uses  <br/>Waggee
      </h2>
      <p class="text-gray-600 text-xl">
        Companies use waggee to enhance <br/>
        them with top blog features
      </p>
    </div>

    {/* Monthly Articles */}
    <div class="text-center">
      <div class="text-5xl font-semibold mb-2">30K+</div>
      <div class="text-xs text-gray-600 uppercase tracking-wider">
        Articles read monthly
      </div>
    </div>

    {/* Satisfaction Rate */}
    <div class="text-center">
      <div class="text-5xl font-semibold mb-2">98%</div>
      <div class="text-xs text-gray-600 uppercase tracking-wider">
        Subscriber satisfaction
      </div>
    </div>

    {/* Hours of Insight */}
    <div class="text-center">
      <div class="text-5xl font-semibold mb-2">40K</div>
      <div class="text-xs text-gray-600 uppercase tracking-wider">
        Hours of insight gained
      </div>
    </div>
  </div> -->
</section>