---
import { FiArrowUpRight } from "react-icons/fi";
import { VscSettings } from "react-icons/vsc";
import { GrMenu } from "react-icons/gr";
import { MdSupportAgent } from "react-icons/md";
import { RxTimer } from "react-icons/rx";
import { CiCloudSun } from "react-icons/ci";
import { PiContactlessPaymentLight } from "react-icons/pi";
---

<section class="max-w-7xl mx-auto px-4 py-16 sm:px-6 lg:px-8">
  <!-- Label -->
  <div class="mb-4">
    <span class="text-sm font-sm text-gray-600 uppercase">
      What Wapgee Provides
    </span>
  </div>

  <!-- Main content wrapper with grid -->
  <div class="grid gap-14 lg:grid-cols-2 lg:gap-32 items-center">
    <!-- Heading container -->
    <div>
      <h1
        class="text-4xl sm:text-2xl lg:text-5xl font-medium text-gray-900 leading-loose"
      >
        Enhance Your Blog <br />
        with Powerful Tools
      </h1>
    </div>

    <!-- Right side content -->

    <!-- Decorative icons -->

    <div>
      <div class="flex gap-4">
        <img src="/shape.png" alt="shape" class="w-4 h-4" />
        <img src="/star.png" alt="star" class="w-4 h-4" />
      </div>

      <!-- Description text -->
      <p class="text-gray-600 mt-8">
        Supercharge Your Blog with Advanced Features and an Intuitive,<br /> Seamless
        Interface.
      </p>
    </div>
  </div>

  <div class="flex mt-12 justify-center gap-8">
    <div
      class="shadow-xl border-gray-900 relative w-1/3 p-8 bg-white rounded-2xl hover:shadow-md transition-shadow duration-300"
    >
      <!-- Icon -->
      <div class="mb-8">
        <VscSettings size="35px" />
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-xl font-semibold text-gray-900">Customizable Blogs</h3>

        <p class="text-gray-600 text-sm">
          Make your blog truly yours with flexible <br /> design options.
        </p>
      </div>

      <!-- Arrow Icon -->
      <div class="mt-6">
        <a class="cursor-pointer">
          <!-- Button -->
          <button
            class="flex items-center justify-center px-8 py-2 bg-[#fcfcfd] border border-gray-300 rounded-full focus:ring-blue-400"
          >
            <!-- Icon -->
            <!-- <FiArrowUpRight /> -->
            <FiArrowUpRight />
          </button>
        </a>
      </div>
    </div>

    <div
      class="shadow-xl w-1/3 border-gray-900 relative p-8 bg-white rounded-2xl hover:shadow-md transition-shadow duration-300"
    >
      <!-- Icon -->
      <div class="mb-8">
        <GrMenu size="35px" />
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-xl font-semibold text-gray-900">Content Scheduling</h3>

        <p class="text-gray-600 text-sm">
          Plan posts in advance to keep your <br /> content flowing.
        </p>
      </div>

      <!-- Arrow Icon -->
      <div class="mt-6">
        <a class="cursor-pointer">
          <!-- Button -->
          <button
            class="flex items-center justify-center px-8 py-2 bg-[#fcfcfd] border border-gray-300 rounded-full focus:ring-blue-400"
          >
            <!-- Icon -->
            <!-- <FiArrowUpRight /> -->
            <FiArrowUpRight />
          </button>
        </a>
      </div>
    </div>

    <div
      class="shadow-xl w-1/3 border-gray-900 relative p-8 bg-white rounded-2xl hover:shadow-md transition-shadow duration-300"
    >
      <!-- Icon -->
      <div class="mb-8">
        <MdSupportAgent size="35px" />
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-xl font-semibold text-gray-900">
          24/7 Customer Support
        </h3>

        <p class="text-gray-600 text-sm">
          We’re here anytime to help with <br /> questions or issues.
        </p>
      </div>

      <!-- Arrow Icon -->
      <div class="mt-6">
        <a class="cursor-pointer">
          <!-- Button -->
          <button
            class="flex items-center justify-center px-8 py-2 bg-[#fcfcfd] border border-gray-300 rounded-full focus:ring-blue-400"
          >
            <!-- Icon -->
            <!-- <FiArrowUpRight /> -->
            <FiArrowUpRight />
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="flex mt-12 justify-center gap-8">
    <div
      class="shadow-xl border-gray-900 relative w-1/3 p-8 bg-white rounded-2xl hover:shadow-md transition-shadow duration-300"
    >
      <!-- Icon -->
      <div class="mb-8">
        <RxTimer size="35px" />
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-xl font-medium text-gray-900">Increased Efficiency</h3>

        <p class="text-gray-600 text-sm">
          Wapgee is easy to use and totally <br />
          customizable to your business needs.
        </p>
      </div>

      <!-- Arrow Icon -->
      <div class="mt-6">
        <a class="cursor-pointer">
          <button
            class="flex items-center justify-center px-8 py-2 bg-[#fcfcfd] border border-gray-300 rounded-full focus:ring-blue-400"
          >
            <!-- Icon -->
            <!-- <FiArrowUpRight /> -->
            <FiArrowUpRight />
          </button>
        </a>
      </div>
    </div>

    <div
      class="shadow-xl w-1/3 border-gray-900 relative p-8 bg-white rounded-2xl hover:shadow-md transition-shadow duration-300"
    >
      <div class="mb-8 flex justify-between">
        <CiCloudSun size="45px" />

        <button
          class="px-2 h-6 text-xs font-sm text-[#505059] transition-all duration-300 bg-gradient-to-r from-green-400 to-yellow-300 rounded-full hover:shadow-lg hover:scale-104"
        >
          Coming Soon
        </button>
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-xl font-medium text-gray-900">
          SEO Optimization Tools
        </h3>

        <p class="text-gray-600 text-sm">
          Boost visibility and attract more readers <br />with SEO tools.
        </p>
      </div>

      <!-- Arrow Icon -->
      <div class="mt-6">
        <a class="cursor-pointer">
          <button
            class="flex items-center justify-center px-8 py-2 bg-[#fcfcfd] border border-gray-300 rounded-full focus:ring-blue-400"
          >
            <!-- Icon -->
            <!-- <FiArrowUpRight /> -->
            <FiArrowUpRight />
          </button>
        </a>
      </div>
    </div>

    <div
      class="shadow-xl w-1/3 border-gray-900 relative p-8 bg-white rounded-2xl hover:shadow-md transition-shadow duration-300"
    >
      <!-- Icon -->
      <div class="mb-8 flex justify-between">
        <PiContactlessPaymentLight size="40px" />

        <button
          class="px-2 h-6 text-xs font-sm text-[#505059] transition-all duration-300 bg-gradient-to-r from-green-400 to-yellow-300 rounded-full hover:shadow-lg hover:scale-104"
        >
          Coming Soon
        </button>
      </div>

      <!-- Content -->
      <div class="space-y-3">
        <h3 class="text-xl font-medium text-gray-900">
          Subscription Management
        </h3>

        <p class="text-gray-600 text-sm">
          Easily manage your subscriptions and <br /> payments.
        </p>
      </div>

      <!-- Arrow Icon -->
      <div class="mt-6">
        <a class="cursor-pointer">
          <button
            class="flex items-center justify-center px-8 py-2 bg-[#fcfcfd] border border-gray-300 rounded-full focus:ring-blue-400"
          >
            <!-- Icon -->
            <!-- <FiArrowUpRight /> -->
            <FiArrowUpRight />
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
